<ion-view view-title="Dashboard">
  <ion-content>
    <div class="padding">
      <button class="button button-positive button-block" type="button" ng-click="addOrUpdate()">Add or Update
        Geofences</button>
      <button class="button button-positive button-block" type="button" ng-click="getAllWatched()">Get All Watched</button>
      <button class="button button-positive button-block" type="button" ng-click="deleteAll()">Remove All</button>
      <button class="button button-positive button-block" type="button" ng-click="listenWatch()">Listen</button>
      <button class="button button-positive button-block" type="button" ng-click="getCurrentLocation()">Get Current Location</button>
    </div>
    <ion-list ng-if="geofences">
      <ion-item ng-repeat="g in geofences">
        {{g.notification.text}} ({{g.latitude}}, {{g.longitude}})
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
